.contenedorFormularioSucursal {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 20px;
	padding: 0 20px 20px;
	font-family: Arial;
}

.contenedorFormularioSucursal form {
	background-color: #ffffff;
	padding: 30px;
	border-radius: 10px;
	width: 100%;
	max-width: 400px;
	text-align: left;
}

.contenedorFormularioSucursal label {
	display: block;
	margin-bottom: 8px;
	margin-top: 15px;
	font-weight: bold;
	color: #000000;
	font-size: 14px;
}

.contenedorFormularioSucursal input[type="text"],
.contenedorFormularioSucursal textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #000000;
	border-radius: 6px;
	box-sizing: border-box;
	font-size: 14px;
	background-color: #f5eded;
}

.contenedorFormularioSucursal textarea {
	min-height: 100px;
}

.contenedorFormularioSucursal button {
	width: 100%;
	background-color: rgba(255, 106, 0);
	color: white;
	padding: 12px;
	border-radius: 6px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	margin-top: 25px;
}

.contenedorFormularioSucursal button:hover {
	background-color: rgb(201, 89, 9);
}
