.contImgs{
    display:grid;
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 12px;
}

.card{
    background: #ffffff;
    padding: 8px;
    border-radius: 8px;
}

.card img{
    display: block;
    width: 600px;
    height: auto;
    border-radius: 6px;
}

.card img:hover{
    transform: scale(1.03);
}