.video-container{
    text-align: center;
    padding: 10px;
}

.video-text{
    width: fit-content;
    margin: 0 auto;
    text-align: center;
}

.video-title{
    display: inline-block;
    font-family: Arial;
    font-size: 35px;
    border-bottom: 4px solid rgba(255, 106, 0);
    margin-bottom: 15px;
    padding: 12px;
}

iframe {
    border-radius: 10px;
}