.dashboard-fake {
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  font-size: 20px;  
  line-height: 20px;
  background-color: aliceblue;
  color: #0b2535;
}

.dashboard-fake p {
  margin: 6px 0;
  color: rgb(0, 0, 0);
}